h1 {
  color: Green;
  text-align: center;
}
h2 {
  color: brown;
  font-style: italic;
  text-align: left;
}
p {
  font-family: cursive;
}
ul {
  line-height: 40px;
}
body {background-color: violet;}
