h1 {
  color: Yellow;
  text-align: center;
}
h2 {
  color: brown;
  font-style: italic;
  text-align: center;
}
p {
  font-family: fantasy;
}
ul {
  line-height: 40px;
}
body {background-color: green;}
